<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-up</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='/css/Signup.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <style>
      .password-container {
        position: relative;
      }

      .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
      }

      .toggle-password i {
       margin-left: -3vw;
        font-size: 16px; /* Adjust the size as needed */
      }
      .toggle-password.confirm i {
        margin-left: -4vw; /* Adjust the margin as needed */
      }
    </style>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="container">
      <div id="particles-js"></div>
      <div class="content">
        <header>
          <img
            src="{{url_for('static', filename='/img/logotransparent.png')}}"
            class="logo_img"
            alt="Logo"
          />
          <h1>VisionShow</h1>
        </header>
      </div>
      <div class="login-container">
        <h2>Welcome to <span>VisionShow</span></h2>
      </div>

      <div class="login-container2">
        <div>
          <form id="login-form" method="post" action="{{ url_for('signup') }}">
            <label for="email"
              >E-mail &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
              &nbsp;&nbsp; &nbsp;&nbsp;:</label
            >
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter email"
              required
            /><br />

            <!-- Password input with eye button -->
            <div class="password-container">
              <label for="password">Password&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;:</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password"
                required
              />
              <span
                class="toggle-password"
                onclick="togglePasswordVisibility('password')"
              >
                <i class="far fa-eye"></i>
              </span>
            </div>

            <!-- Confirm Password input with eye button -->
            <div class="password-container">
              <label for="confirm_password">Confirm Password:</label>
              <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                placeholder="Confirm password"
                required
              />
              <span
                class="toggle-password"
                onclick="togglePasswordVisibility('confirm_password')"
              >
                <i class="far fa-eye"></i>
              </span>
            </div>

            <button type="submit" onclick="loginWithEmail()">
              SignUp with Email
            </button>
            <a href="{{url_for('login')}}" style="color:rgb(216, 248, 248)">Already have a account?</a>
          </form>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='/js/particles.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='/js/app.js')}}"
    ></script>
    <script>
        function togglePasswordVisibility(inputId) {
            const passwordInput = document.getElementById(inputId);
            const icon = document.querySelector(`#${inputId} + .toggle-password i`);
          
            if (passwordInput.type === "password") {
              passwordInput.type = "text";
              icon.classList.remove("fa-eye");
              icon.classList.add("fa-eye-slash");
            } else {
              passwordInput.type = "password";
              icon.classList.remove("fa-eye-slash");
              icon.classList.add("fa-eye");
            }
          }
          
    </script>
  </body>
</html>
